body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0b0f1a;
    color: #eee;
}

header {
    background: #151a2d;
    border-bottom: 1px solid #222;
}

.page-title {
    text-align: center;
    margin: 40px 0 20px;
}

.gallery {
    max-width: 1100px;
    margin: 0 auto 40px;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 20px;
}

.card {
    background: #151a2d;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 6px;
    display: block;
}

.card p {
    margin-top: 8px;
    font-size: 14px;
}

.card a {
    color: #7f028f;
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
}

/*nav*/

.navbar {
    max-width: 1100px;
    margin: 0 auto;
    padding: 15px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-size: 20px;
    color: #8903b2;
    text-decoration: none;
    font-weight: bold;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.navbar ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 15px;
}

/* Hover + active link */
.navbar ul li a:hover,
.navbar ul li a.active {
    background: #7c00ad;
    color: #0a0a0a;
}

/* Home page button */
.btn {
    display: inline-block;
    padding: 10px 22px;
    background: #8f3db8;
    color: #0b0f1a;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 600;
    font-size: 15px;
    transition: 0.2s;
    text-align: center;
}

.btn:hover {
    background: #ce0782;
    transform: translateY(-2px);
}
.hero {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.category-list {
    max-width: 1100px;
    margin: 20px auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
}

.category-item {
    background: #151a2d;
    padding: 4rem;
    border-radius: 2rem;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: 1200;
    transition: 0.3s;
    border: 2px solid #26263a;
}

.category-item:hover {
    background: #8f3db8;
    transform: translateY(-4px);
}


.features {
    max-width: 1100px;
    margin: 50px auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 30px;
}

.feature-box {
    background: #151a2d;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid #292a3d;
    text-align: center;
}

.feature-box h3 {
    margin-bottom: 10px;
    color: #ce0782;
}
